@media (max-width: 768px) {
	body,
	html {
		overflow-x: hidden;
	}
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Poppins", sans-serif;
	overflow-x: hidden;
}
.cta-button {
	border-radius: 30px;
	border: 1px solid #f0f0f0;
	background: linear-gradient(
		90deg,
		rgba(249, 144, 34, 0.7) 0%,
		rgba(255, 187, 47, 0.7) 100%
	);
	/* typography */
	color: #000;
	font-size: 0.96875rem;
	font-family: Poppins;
	font-weight: 500;
	line-height: 2rem;
	/* layout */
	width: 5.75rem;
	height: 2.4375rem;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* navbar */
.navbar {
	z-index: 5;
}
.nav-link {
	color: #000;
	font-size: 0.9375rem;
	font-weight: 500;
}

/* Hero */
.hero {
	overflow: hidden;
	padding-top: 5rem;
	margin-top: -5rem;
	padding-bottom: 3rem;
}
.hero h1 {
	color: #000;
	font-family: Poppins;
	font-weight: 600;
	font-size: 2.5rem;
}
.hero .main-heading .line {
	display: flex;
	align-items: center;
	justify-content: end;
}
.hero .mobile-heading .avatar.boy {
	width: 8rem !important;
	height: 8rem !important;
}
.hero .mobile-heading .avatar.boy .bg {
	width: 8rem !important;
	height: 8rem !important;
}
.hero .mobile-heading .avatar.boy img {
	height: 10rem;
}
@media (min-width: 600px) {
	.hero h1 {
		font-size: 3rem;
	}
}
@media (min-width: 762px) {
	.hero h1 {
		font-size: 3.4rem;
	}
	.hyphen {
		width: 7rem !important;
		height: 0.8rem !important;
	}
}
@media (min-width: 992px) {
	.hero h1 {
		font-size: 4.4rem;
	}
}
@media (min-width: 1200px) {
	.hero h1 {
		font-size: 5.4rem;
	}
}
.hero .main-heading .line h1 {
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}
.hero .avatar {
	width: 5rem;
	position: relative;
	margin-top: 1rem;
}
.hero .avatar .bg {
	border-radius: 97.247px;
	box-shadow: 0px 2.767256498336792px 2.2138051986694336px 0px
			rgba(0, 0, 0, 0.02),
		0px 6.650102138519287px 5.32008171081543px 0px rgba(0, 0, 0, 0.03),
		0px 12.521552085876465px 10.017241477966309px 0px rgba(0, 0, 0, 0.04),
		0px 22.3363094329834px 17.869047164916992px 0px rgba(0, 0, 0, 0.04),
		0px 41.777610778808594px 33.422088623046875px 0px rgba(0, 0, 0, 0.05),
		0px 100px 80px 0px rgba(0, 0, 0, 0.07);
	width: 100%;
	display: flex;
	align-items: end;
	height: 4rem;
	min-width: 4rem;
}
.hero .avatar.girl .bg {
	background: #bdf3bf;
}
.hero .avatar.boy .bg {
	background: #c8bafe;
}
.hero .description {
	font-size: 17px;
	font-weight: 300;
	line-height: 32px;
}

.hyphen {
	width: 3rem;
	height: 0.4rem;
	flex-shrink: 0;
	background: #000;
}
.btn-main {
	display: flex;
	width: 11.75rem;
	height: 3.5625rem;
	padding: 0.75rem 2.0625rem 0.8125rem 2.125rem;
	justify-content: center;
	align-items: center;
	color: #fff;
	transition: 200ms;

	border-radius: 31px;
	background: #0f1827;
}
.btn-main.white {
	background-color: #fff;
	color: #000;
}
.btn-main.white:hover {
	background-color: #ffffffd5;
	color: #000;
}

.btn-main:hover {
	background: #1d2533;
	color: #fff;
}

/* cards */
.card-variant-1 {
	border-radius: 8.07px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	background: radial-gradient(
		254.43% 143.73% at 6.62% 2.73%,
		rgba(255, 255, 255, 0.49) 0%,
		rgba(255, 255, 255, 0.07) 100%
	);
	backdrop-filter: blur(6px);
	transition: 200ms;

	/* layout */
	width: 100%;
	min-height: 11.875rem;
	flex-shrink: 0;
	padding: 1rem;
	position: relative;
}
.card-variant-1:hover {
	transform: scale(1.05);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.card-variant-1 .btn-main {
	width: 5.5rem;
	font-size: 12px;
	padding: 0.2rem 0.1rem;
	height: 38px;
}
.card-variant-1 h5 {
	color: #000;
	font-size: 1.125rem;
	font-family: Poppins;
	font-weight: 700;
	line-height: 1.5625rem;
}
.card-variant-1 p {
	color: #94788a;
	font-size: 0.8125rem;
	font-family: Poppins;
	line-height: 1.25rem;
}
.card-variant-1.with-avatar {
	min-height: 256px;
	flex-shrink: 0;
}
.card-variant-1 .check {
	position: absolute;
	top: -20px;
	right: 5px;
}
.card-variant-1.with-profile {
	min-height: 386px;
}
.card-variant-1.with-profile .avatar {
	width: 120px;
	height: 154px;
	flex-shrink: 0;
}
.card-variant-1.with-profile .avatar .bg {
	width: 120px;
	height: 120px;
	background-color: #ffae73;
}
.card-variant-1.with-profile .btn-main {
	font-size: 14px;
	width: 110px;
	height: 41px;
}
.card-variant-1 .head .logo h5 {
	color: #775b78;
	font-size: 15px;
	font-family: Poppins;
	font-weight: 400;
	margin: 0;
}
.card-variant-1 .head h6 {
	color: #817093;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
}

/* capsule */
.capsule {
	border-radius: 15px;
	background: #e9d2ec;
	display: inline-block;
	padding: 2px 8px;
	margin: 0;
}

/* background */
.gradient-elipse {
	z-index: -1;
	position: absolute;
}
.gradient-elipse.pink {
	border-radius: 675px;
	background: #fab5d3;
	filter: blur(225px);

	width: 42.1875rem;
	height: 41.9375rem;
	flex-shrink: 0;

	left: 30%;
}
.gradient-elipse.yellow {
	width: 46.5rem;
	height: 38.25rem;
	flex-shrink: 0;

	left: 0;

	border-radius: 744px;
	background: rgba(245, 186, 34, 0.6);
	filter: blur(225px);
}
.gradient-elipse.blue {
	width: 38.25rem;
	height: 38.25rem;
	flex-shrink: 0;

	border-radius: 612px;
	background: rgba(29, 133, 199, 0.41);
	filter: blur(225px);
	right: -10%;
	bottom: -20%;
}

/* banner */
.banner-1 {
	background-color: #000;
	padding: 2rem 0;
}
.banner-1 .item p {
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	line-height: 26px;
}
.banner-1 .item h3 {
	color: #fff;
	font-size: 52px;
	font-weight: 700;
}
.banner-1 .divider {
	width: 2px;
	height: 50px;
	opacity: 0.5;
	background: #d9d9d9;
}
@media (max-width: 768px) {
	.banner-1 .divider {
		height: 100px;
		transform: rotate(90deg);
	}
}

/* about 1 */
.about-1 .item .bg {
	border-radius: 129px;
	background: #fad7b4;
	filter: blur(46.5px);
	width: 129px;
	height: 129px;
	flex-shrink: 0;
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.about-1 .item h4 {
	color: #000;
	font-size: 22px;
	font-weight: 600;
}
.about-1 .item p {
	max-width: 218px;
}
.btn {
	transition: 200ms;
}
.btn-second {
	border-radius: 30px;
	background: rgba(249, 144, 34, 0.7);
	color: #000;
	font-size: 15.5px;
	font-weight: 500;
}
.btn-second:hover {
	background: rgba(249, 144, 34, 0.6);
}

/* our mission*/
.our-mission {
	background: linear-gradient(
		180deg,
		rgba(174, 223, 254, 0.37) 0%,
		rgba(29, 133, 199, 0) 100%
	);
	overflow: hidden;
}
.head h6 {
	color: #ff6e37;
}
.head {
	max-width: 40rem;
}

/* gradient elipse */
.our-mission .gradient-elipse.blue {
	border-radius: 946px;
	background: #4b7dfc;
	filter: blur(225px);
	width: 700px;
	height: 300px;
	transform: rotate(40.006deg);
	flex-shrink: 0;
	left: 0;
}
.our-mission .video-player {
	max-width: 50rem;
	margin: 0 auto;
}
.our-mission .frame-1 {
	border-radius: 38px;
	padding: 1rem;
	background: rgba(255, 255, 255, 0.4);
}
.our-mission .frame-2 {
	border-radius: 38px;
	padding: 1rem;
	overflow: hidden;
	background: rgba(255, 255, 255, 0.8);
}
.our-mission .video-player iframe {
	border-radius: 28px;
}
.our-mission .vector {
	position: absolute;
	z-index: -1;
}
.our-mission .vector.one {
	left: 0;
	top: 0;
	mix-blend-mode: multiply;
	opacity: 0.4;
}
.our-mission .vector.two {
	right: 0;
	top: 60%;
}
.our-mission .vector.three {
	left: 0;
	top: 60%;
}
.our-mission .vector.four {
	top: 30%;
	right: 10%;
}

/* our vission */
.our-vision {
	background: #fcf3f4;
}
.our-vision .head {
	max-width: 100%;
}
.our-vision h2 {
	font-size: 72px;
}
.our-vision .details {
	max-width: 30rem;
}
.btn-main.small {
	width: 120px;
	height: 50px;
	font-size: 14px;
	padding: 10px;
}
.our-vision .shape-1 {
	position: absolute;
	top: 40px;
	left: 35%;
}
.our-vision {
	position: absolute;
	z-index: 1;
	overflow: hidden;
}
.our-vision .list h2 {
	color: #fff;
	font-size: 110px;
	font-weight: 600;
}
.our-vision .list h4 {
	color: #000;
	font-size: 27px;
	font-weight: 600;
}
.our-vision .list p {
	font-weight: 300;
}
.our-vision .gradient-elipse.yellow {
	width: 393px;
	height: 323px;

	border-radius: 393px;
	background: rgba(245, 186, 34, 0.6);
	filter: blur(116px);

	top: 0;
}
.our-vision .gradient-elipse.yellow.second {
	top: 50%;
	left: 50%;
}
.our-vision .gradient-elipse.pink {
	width: 356px;
	height: 354px;

	border-radius: 356px;
	background: #fab5d3;
	filter: blur(116px);
	top: 60%;
}
.our-vision .gradient-elipse.blue {
	width: 356px;
	height: 354px;

	border-radius: 346px;
	background: #bce5ff;
	filter: blur(116px);

	left: -50px;
	top: -80px;
}

/* banner */
.banner-1.second .item h2 {
	font-size: 38px;
	color: #fff;
}
.banner-1 .btn {
	height: 3rem;
	width: 8rem;
	padding: 0;
}
.banner-1 p {
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	line-height: 26px;
}

/* our team */
.team-card {
	border-radius: 6.07px;
	border: 3px solid rgba(255, 255, 255, 0.3);
	background: radial-gradient(
		254.43% 143.73% at 6.62% 2.73%,
		rgba(255, 255, 255, 0.49) 0%,
		rgba(255, 255, 255, 0.07) 100%
	);
	backdrop-filter: blur(6px);
	transition: 200ms;
}
.team-card .profile-picture {
	overflow: hidden;
	border-radius: 50%;
}
.team-card .profile-picture img {
	width: 100%;
}
.team-card .content h5 {
	color: #000;
	font-size: 16px;
}
.team-card .content p {
	font-size: 14px;
}
.team-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}
.team-card.flex-column-reverse {
	border-end-end-radius: 50%;
	border-end-start-radius: 50%;
}
.team-card.flex-column {
	border-start-end-radius: 50%;
	border-start-start-radius: 50%;
}
.our-team .head h6 {
	color: #ff6e37;
}
h2 {
	font-size: 47px;
}
.our-team .head h2 {
	color: #000;
	font-weight: 600;
	max-width: 40rem;
}
.our-team .gradient-elipse {
	position: absolute;
	z-index: -1;
}
.our-team .gradient-elipse.yellow {
	width: 1060px;
	height: 323px;
	transform: rotate(-12.357deg);
	flex-shrink: 0;

	border-radius: 1060px;
	background: rgba(245, 186, 34, 0.6);
	filter: blur(175px);

	top: 50%;
}
.our-team .gradient-elipse.pink {
	width: 959px;
	height: 354px;
	transform: rotate(-12.357deg);
	flex-shrink: 0;

	border-radius: 959px;
	background: #fab5d3;
	filter: blur(175px);

	top: 50%;
}

/* testimonials */
.testimonials {
	margin-top: 8rem;
}
.testimonials .row {
	margin-top: 5rem;
}
.testimonial img {
	width: 5rem;
	border-radius: 50%;
	object-fit: cover;
}
.testimonial h5 {
	color: #000;
	font-size: 14px;
}
.testimonial h6 {
	color: #979797;
	font-size: 12px;
}
.owl-pagination {
	padding-top: 3rem !important;
}
.overlay .bg,
.overlay .quote {
	position: absolute;
	top: 0;
}
.overlay .quote {
	right: 15%;
}
.overlay .bg {
	left: 0;
	right: 0;
	z-index: -1;
	height: 20rem;
	margin: 0 auto;
}
.owl-theme .owl-pagination {
	display: flex;
	justify-content: center;
	align-items: center;
}
.owl-theme .owl-controls .owl-page span {
	width: 8px;
	height: 8px;
	margin: 5px 4px;
	transition: 200ms;
}
.owl-theme .owl-controls .owl-page.active span {
	width: 10px;
	height: 10px;
	background-color: #37324d;
}
@media (min-width: 768px) {
	.overlay .quote {
		right: 34%;
	}
	.overlay .bg {
		left: 0;
		right: 0;
		z-index: -1;
		height: 24rem;
		margin: 0 auto;
	}
}

/* news */
.news {
	background: linear-gradient(
		180deg,
		rgba(174, 223, 254, 0.37) 0%,
		rgba(29, 133, 199, 0) 100%
	);
}
.news .shape-1 {
	position: absolute;
	right: 0;
	top: 10%;
	z-index: -1;
}
.news .shape-2 {
	position: absolute;
	right: 10%;
	top: 20%;
	z-index: -1;
}
.card-news {
	border-radius: 23px;
	outline: 12px solid rgba(255, 255, 255, 0.4);
	background: #fff;
	padding: 0.5rem;
	transition: 200ms;
	cursor: pointer;
}
.card-news:hover {
	transform: scale(1.05);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.card-news .capsule {
	background: #f59022;
	color: #fff;
	font-size: 12px;
}
.card-news .thumbnail {
	overflow: hidden;
	border-radius: 19px;
}
.card-news .thumbnail img {
	width: 100%;
}
.card-news .title {
	color: #000;
	font-size: 19px;
	font-weight: 600;
	line-height: 140%;
}
.card-news .meta-info {
	color: #515151;
	font-size: 12px;
	line-height: 160%;
}
.card-news .description {
	color: #434343;
	font-size: 12px;
	line-height: 160%;
}
.card-news .author img {
	width: 2rem;
	border-radius: 50%;
}

/* follow us */
.follow-us .container {
	border-radius: 25px;
	background: url("/assets/images/follow-us/bg.png") no-repeat;
	background-size: cover;
}
.follow-us h3 {
	color: #000;
	font-size: 38px;
	font-weight: 600;
}
.follow-us .description {
	max-width: 40rem;
	color: #000;
	font-size: 14px;
	font-weight: 300;
	line-height: 26px;
}
.follow-us .btn-main {
	height: 40px;
	width: 150px;
	padding: 0;
}
.follow-us .model {
	height: 28rem;
	margin-top: -10rem;
	margin-bottom: 2rem;
	top: 1px;
}
@media (min-width: 768px) {
	.follow-us .model {
		height: 28rem;
		margin-top: -6rem;
		margin-bottom: -10rem;
		top: 1px;
	}
}

/* footer */
footer h5 {
	color: #000;
	font-size: 18px;
	font-weight: 600;
}
footer p {
	color: #000;
	font-size: 14px;
	font-weight: 300;
	line-height: 26px;
}
