.homepage-new-child {
  position: absolute;
  top: 1126px;
  left: -1px;
  background-color: var(--color-snow);
  width: 1440px;
  height: 1126px;
}
.ellipse-div,
.homepage-new-inner,
.homepage-new-item {
  position: absolute;
  border-radius: 50%;
  filter: blur(450px);
}
.homepage-new-item {
  top: 664px;
  left: 976px;
  background-color: rgba(29, 133, 199, 0.41);
  width: 612px;
  height: 612px;
}
.ellipse-div,
.homepage-new-inner {
  top: 504px;
  left: 449px;
  background-color: var(--color-lightpink-100);
  width: 675px;
  height: 671px;
}
.ellipse-div {
  top: 482px;
  left: -81px;
  background-color: var(--color-goldenrod-200);
  width: 744px;
  height: 612px;
}
.homepage-new-child1,
.homepage-new-child2,
.homepage-new-child3 {
  position: absolute;
  top: 1574px;
  left: 239px;
  border-radius: 50%;
  background-color: var(--color-peachpuff);
  filter: blur(93px);
  width: 129px;
  height: 129px;
}
.homepage-new-child2,
.homepage-new-child3 {
  top: 1575px;
  left: 652px;
}
.homepage-new-child3 {
  top: 1574px;
  left: 1042px;
}
.homepage-new-child4,
.homepage-new-child5,
.rectangle-div {
  position: absolute;
  top: 508px;
  left: 118px;
  border-radius: 8.07px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(255, 255, 255, 0.69),
    rgba(255, 255, 255, 0.37)
  );
  backdrop-filter: blur(12px);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 331px;
  height: 386px;
}
.homepage-new-child4,
.homepage-new-child5 {
  top: 659px;
  left: 470px;
  width: 236px;
  height: 236px;
}
.homepage-new-child5 {
  top: 915px;
  left: 319px;
  width: 387px;
  height: 132px;
}
.homepage-new-child6 {
  position: absolute;
  top: 830px;
  left: 233px;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-200);
  width: 110px;
  height: 41px;
}
.full-stack-designer-project {
  position: absolute;
  top: 965px;
  left: 341px;
  font-size: var(--font-size-base);
  line-height: 36px;
  display: inline-block;
  width: 297px;
  height: 28px;
}
.mindfulnessco {
  top: 929px;
  left: 378px;
  font-size: var(--font-size-mini);
  line-height: 36px;
  color: #775b78;
  width: 112px;
  height: 28px;
}
.david-is-a,
.find-talent,
.h-ago,
.mindfulnessco {
  position: absolute;
  display: inline-block;
}
.h-ago {
  top: 930px;
  left: 622px;
  font-size: var(--font-size-xs);
  line-height: 36px;
  color: #817093;
  width: 50px;
  height: 29px;
}
.david-is-a,
.find-talent {
  line-height: 22px;
  text-align: center;
}
.david-is-a {
  top: 775px;
  left: 131px;
  font-size: var(--font-size-smi);
  color: var(--color-gray-100);
  width: 311px;
}
.find-talent {
  top: 839px;
  left: 248px;
  color: var(--color-white);
  width: 81px;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-200);
  width: 104px;
  height: 33px;
}
.start-training {
  position: absolute;
  top: 4px;
  left: 9px;
  line-height: 22px;
  display: inline-block;
  width: 85px;
  height: 22px;
}
.rectangle-parent {
  position: absolute;
  top: 839px;
  left: 536px;
  width: 104px;
  height: 33px;
  text-align: center;
  font-size: var(--font-size-2xs);
  color: var(--color-white);
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-200);
  width: 88px;
  height: 33px;
}
.apply-now {
  position: absolute;
  top: 4.15px;
  left: 10.72px;
  line-height: 22px;
  display: inline-block;
  width: 66px;
  height: 18px;
}
.rectangle-group {
  position: absolute;
  top: 1001px;
  left: 341px;
  width: 88px;
  height: 33px;
  text-align: center;
  font-size: var(--font-size-2xs);
  color: var(--color-white);
}
.homepage-new-child7,
.homepage-new-child8 {
  position: absolute;
  top: 736px;
  left: 169px;
  border-radius: var(--br-mini);
  background-color: #e9d2ec;
  width: 89px;
  height: 26px;
}
.homepage-new-child8 {
  left: 262px;
  background-color: #f2d1ef;
  width: 142px;
}
.front-end-developer,
.ui-designer {
  position: absolute;
  top: 738px;
  left: 179px;
  font-size: var(--font-size-xs);
  line-height: 22px;
  color: #6089d9;
  display: inline-block;
  width: 81px;
}
.front-end-developer {
  left: 273px;
  color: #9b73d0;
  width: 126px;
}
.invoice-has-been {
  margin: 0;
}
.david-guttman,
.invoice-has-been-container,
.training-completed {
  position: absolute;
  line-height: 22px;
  text-align: center;
  display: inline-block;
}
.invoice-has-been-container {
  top: 788px;
  left: 506px;
  font-size: var(--font-size-smi);
  color: var(--color-gray-100);
  width: 165px;
}
.david-guttman,
.training-completed {
  letter-spacing: -0.02em;
  font-weight: 600;
}
.training-completed {
  top: 760px;
  left: 492px;
  font-size: var(--font-size-lg);
  width: 192px;
}
.david-guttman {
  top: 703px;
  left: 207px;
  font-size: 21px;
  width: 165px;
}
.homepage-new-child10,
.homepage-new-child11,
.homepage-new-child9 {
  position: absolute;
  top: 947px;
  left: 671px;
  background-color: var(--color-lightslategray);
  width: 1px;
  height: 2px;
}
.homepage-new-child10,
.homepage-new-child11 {
  left: 675px;
}
.homepage-new-child11 {
  left: 679px;
}
.homepage-new-child12 {
  position: absolute;
  top: 929px;
  left: 341px;
  border-radius: 50%;
  background-color: #ff6b6b;
  border: 1px solid #fe6060;
  box-sizing: border-box;
  width: 33px;
  height: 33px;
}
.group-icon {
  position: absolute;
  height: 0.14%;
  width: 1.58%;
  top: 10.18%;
  right: 74.39%;
  bottom: 89.69%;
  left: 24.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.homepage-new-child13 {
  position: absolute;
  top: 446px;
  left: 470px;
  border-radius: 8.07px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(255, 255, 255, 0.59),
    rgba(255, 255, 255, 0.27)
  );
  backdrop-filter: blur(12px);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 236px;
  height: 190px;
}
.start-my-new {
  position: absolute;
  top: 470px;
  left: 487px;
  font-size: var(--font-size-lg);
  line-height: 25px;
  display: inline-block;
  text-align: center;
  width: 203px;
  height: 45px;
}
.rectangle-container {
  position: absolute;
  top: 581px;
  left: 544px;
  width: 88px;
  height: 33px;
  text-align: center;
  font-size: var(--font-size-2xs);
  color: var(--color-white);
}
.homepage-new-child14 {
  position: absolute;
  top: 637px;
  left: 658px;
  width: 43px;
  height: 43px;
}
.homepage-new-child15 {
  position: absolute;
  top: 692px;
  left: 564px;
  border-radius: 50%;
  background-color: #8e56eb;
  width: 49px;
  height: 49px;
}
.homepage-new-child16,
.rectangle-icon {
  position: absolute;
  top: 703px;
  left: 576px;
  width: 16.5px;
  height: 12.5px;
}
.homepage-new-child16 {
  top: 715.5px;
  width: 8.5px;
}
.homepage-new-child17,
.homepage-new-child18 {
  position: absolute;
  top: 703px;
  left: 585px;
  width: 16.5px;
  height: 12.5px;
}
.homepage-new-child18 {
  top: 715.5px;
  left: 593px;
  width: 8.5px;
}
.mask-group-1,
.mask-group-2,
.mask-group-3 {
  position: absolute;
  top: 524px;
  left: 149px;
  width: 275px;
  height: 334px;
  object-fit: cover;
}
.mask-group-2,
.mask-group-3 {
  top: 146px;
  left: 706.49px;
  width: 255.58px;
  height: 308px;
}
.mask-group-3 {
  top: 280px;
  left: 1105.49px;
}
.click-on-the {
  position: absolute;
  top: 522px;
  left: 505px;
  font-size: var(--font-size-smi);
  line-height: 20px;
  color: var(--color-gray-100);
  text-align: center;
  display: inline-block;
  width: 165px;
}
.for-any-job,
.hire-the-best,
.people {
  position: absolute;
  top: 155px;
  left: 166px;
  font-size: var(--font-size-73xl);
  font-weight: 600;
}
.for-any-job,
.people {
  left: 914px;
}
.for-any-job {
  top: 284px;
  left: 672px;
}
.homepage-new-child19 {
  position: absolute;
  top: 350px;
  left: 533px;
  background-color: var(--color-black);
  width: 103px;
  height: 13px;
}
.a-staffing-and,
.our-resources {
  position: absolute;
  left: 805px;
  line-height: 32px;
  display: inline-block;
  opacity: 0.6;
}
.a-staffing-and {
  top: 491px;
  font-size: var(--font-size-mid);
  font-weight: 300;
  width: 505px;
}
.our-resources {
  top: 848px;
  font-size: var(--font-size-base);
  width: 122px;
}
.homepage-new-child20 {
  position: absolute;
  top: 713px;
  left: 805px;
  border-radius: var(--br-12xl);
  background-color: var(--color-gray-200);
  width: 188px;
  height: 57px;
}
.explore-talent {
  position: absolute;
  top: 725px;
  left: 839px;
  font-size: var(--font-size-mid);
  line-height: 32px;
  font-weight: 500;
  color: var(--color-white);
  display: inline-block;
  width: 121px;
}
.homepage-new-child21,
.image-15-icon,
.image-16-icon,
.oo-1-icon {
  position: absolute;
  top: 903px;
  left: 801px;
  width: 282px;
  height: 40px;
  object-fit: cover;
  opacity: 0.4;
}
.homepage-new-child21,
.image-16-icon,
.oo-1-icon {
  left: 1138px;
  width: 127px;
  height: 26px;
}
.homepage-new-child21,
.oo-1-icon {
  top: 972px;
  left: 793px;
  width: 179px;
  height: 47.07px;
}
.oo-1-icon {
  top: 954px;
  left: 1130px;
  width: 97px;
  height: 65px;
  opacity: 0.5;
}
.homepage-new-child22 {
  position: absolute;
  top: 33px;
  left: 1268px;
  border-radius: var(--br-11xl);
  background: linear-gradient(
    90deg,
    rgba(249, 144, 34, 0.7),
    rgba(255, 187, 47, 0.7)
  );
  border: 1px solid #f0f0f0;
  box-sizing: border-box;
  width: 92px;
  height: 39px;
  margin-left: -23px;
}
.about-us,
.careers,
.events,
.home,
.resources,
.services,
.sign-up {
  position: absolute;
  top: 37px;
  left: 1284px;
  font-size: var(--font-size-base-5);
  line-height: 32px;
  font-weight: 500;
  display: inline-block;
  width: 63px;
  margin-left: -25PX;
}
#button1{
  background: none;
  border: none;
  padding: 0 0 0 9PX;
  margin: 0%;
}
.about-us,
.careers,
.events,
.home,
.resources,
.services {
  left: 688px;
  font-size: var(--font-size-mini);
}
.about-us,
.careers,
.events,
.resources,
.services {
  left: 771px;
  width: 83px;
}
.careers,
.events,
.resources,
.services {
  left: 873px;
}
.careers,
.events,
.resources {
  left: 976px;
}
.events,
.resources {
  left: 1069px;
  width: 92px;
}
.events {
  left: 1180px;
}
.vector-icon {
  position: absolute;
  height: 0.05%;
  width: 0.63%;
  top: 0.56%;
  right: 34.1%;
  bottom: 99.38%;
  left: 65.28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.diversefirst {
  position: absolute;
  top: 34px;
  left: 154px;
  font-size: var(--font-size-10xl);
  letter-spacing: -0.02em;
  font-weight: 600;
}
.homepage-new-child23 {
  position: absolute;
  top: 1126px;
  left: 0;
  background-color: var(--color-black);
  width: 1440px;
  height: 273px;
}
.we-provide-opportunities {
  position: absolute;
  top: 1222px;
  left: 295px;
  line-height: 26px;
  font-weight: 300;
  color: var(--color-white);
  display: inline-block;
  width: 357px;
}
.homepage-new-child24 {
  position: absolute;
  top: 1236px;
  left: 682px;
  background-color: var(--color-gainsboro);
  width: 3px;
  height: 53px;
  opacity: 0.5;
}
.lorem-ipsum-dolor {
  top: 1274px;
  left: 791px;
  line-height: 26px;
  font-weight: 300;
  display: inline-block;
  width: 260px;
}
.b,
.lorem-ipsum-dolor,
.lorem-ipsum-dolor1 {
  position: absolute;
  color: var(--color-white);
}
.lorem-ipsum-dolor1 {
  top: 1274px;
  left: 1124px;
  line-height: 26px;
  font-weight: 300;
  display: inline-block;
  width: 260px;
}
.b {
  top: 1215px;
  left: 791px;
  font-size: var(--font-size-33xl);
  line-height: 36px;
}
.homepage-new-child25,
.homepage-new-child26 {
  position: absolute;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.homepage-new-child25 {
  top: 4898px;
  left: 1440px;
  background-color: var(--color-black);
  width: 1440px;
  height: 340px;
  margin-top: 320px;
  z-index: 1;
}
.homepage-new-child26 {
  top: 5108px;
  left: 1302px;
  background-color: #1d85c7;
  width: 56px;
  height: 57px;
  z-index: 3;
}
.polygon-icon {
  position: absolute;
  top: 5053px;
  left: 1181.02px;
  width: 64.95px;
  height: 56.25px;
  z-index: 3;
}
.homepage-new-child27 {
  position: absolute;
  top: 4999px;
  left: 1299px;
  border-radius: 50%;
  background-color: var(--color-lightpink-200);
  width: 52px;
  height: 52px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.homepage-new-child28 {
  position: absolute;
  top: 5027.9px;
  left: 1227px;
  background-color: var(--color-mediumpurple-100);
  width: 26.33px;
  height: 26.33px;
  transform: rotate(-128.47deg);
  transform-origin: 0 0;
  z-index: 3;
}
.subtract-icon {
  position: relative;
  width: 57.63px;
  height: 57.96px;
}
.b1,
.let-us-help {
  position: absolute;
  color: var(--color-white);
}
.let-us-help {
  top: 4976px;
  left: 147px;
  font-size: 42px;
  line-height: 54px;
  display: inline-block;
  text-align: right;
  width: 441px;
  z-index: 3;
}
.b1 {
  top: 1215px;
  left: 1123px;
  font-size: var(--font-size-33xl);
  line-height: 36px;
}
.homepage-new-child29 {
  position: absolute;
  top: 33px;
  left: 99px;
  width: 37.75px;
  height: 37.22px;
}
.homepage-new-child30 {
  position: absolute;
  top: 40.6px;
  left: 107.07px;
  width: 37.93px;
  height: 37.4px;
}
.homepage-new-child31 {
  position: absolute;
  top: 32px;
  left: 88px;
  width: 60px;
  height: 48.55px;
}
.homepage-new-child32 {
  position: absolute;
  top: 2107px;
  left: -0.4px;
  background: linear-gradient(
    180deg,
    rgba(174, 223, 254, 0.37),
    rgba(29, 133, 199, 0)
  );
  width: 1440px;
  height: 621px;
}
.homepage-new-child33 {
  position: absolute;
  top: 2306px;
  left: 0;
  width: 859.01px;
  height: 908.29px;
}
.our-mission {
  position: absolute;
  top: 2213px;
  left: 585.6px;
  font-size: var(--font-size-28xl);
  line-height: 53px;
  font-weight: 600;
  text-align: center;
}
.our-team {
  position: absolute;
  top: 2184px;
  left: 686.6px;
  font-size: var(--font-size-mini);
  font-weight: 500;
  color: var(--color-tomato-100);
}
.lorem-ipsum-dolor2 {
  position: absolute;
  top: 2294px;
  left: 351.6px;
  line-height: 26px;
  font-weight: 300;
  text-align: center;
  display: inline-block;
  width: 746px;
}
.homepage-new-child34 {
  position: absolute;
  top: 2374px;
  left: 637.6px;
  border-radius: var(--br-12xl);
  background-color: var(--color-gray-200);
  width: 155px;
  height: 57px;
}
.see-jobs {
  position: absolute;
  top: 2386px;
  left: 676.6px;
  font-size: var(--font-size-mid);
  line-height: 32px;
  font-weight: 500;
  color: var(--color-white);
  display: inline-block;
  width: 121px;
}
.homepage-new-child35 {
  position: absolute;
  top: 2461px;
  left: 1302.6px;
  border-radius: 50%;
  background-color: var(--color-lightpink-200);
  width: 52px;
  height: 52px;
}
.homepage-new-child36 {
  position: absolute;
  top: 7257px;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(174, 223, 254, 0.37),
    rgba(29, 133, 199, 0)
  );
  width: 1440px;
  height: 645px;
}
.ellipse-icon {
  position: absolute;
  top: 7323.49px;
  left: 919px;
  width: 521px;
  height: 836.94px;
}
.homepage-new-child37 {
  position: absolute;
  top: 7516px;
  left: 1290px;
  border-radius: 50%;
  background-color: var(--color-lightpink-200);
  width: 52px;
  height: 52px;
}
.homepage-new-child38 {
  position: absolute;
  top: 2256px;
  left: 274.17px;
  border-radius: 50%;
  background-color: #4b7dfc;
  filter: blur(450px);
  width: 945.51px;
  height: 522px;
  transform: rotate(40.01deg);
  transform-origin: 0 0;
}
.homepage-new-child39 {
  position: absolute;
  top: 2466px;
  left: 160.6px;
  border-radius: var(--br-19xl);
  background-color: var(--color-gainsboro);
  border: 47px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 1114px;
  height: 694px;
}
.homepage-new-child40,
.homepage-new-child41,
.homepage-new-child42 {
  position: absolute;
  top: 7671px;
  left: 130px;
  border-radius: 30px;
  background-color: var(--color-white);
  border: 18px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 384px;
  height: 485px;
}
.homepage-new-child41,
.homepage-new-child42 {
  left: 534px;
}
.homepage-new-child42 {
  left: 942px;
}
.homepage-new-child43 {
  position: absolute;
  top: 2489px;
  left: 183.6px;
  border-radius: var(--br-19xl);
  background-color: var(--color-gainsboro);
  border: 24px solid rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  width: 1068px;
  height: 648px;
}
.homepage-new-child44 {
  position: absolute;
  top: 2513px;
  left: 207.6px;
  width: 1020px;
  height: 600px;
  object-fit: cover;
}
.homepage-new-child45 {
  position: absolute;
  top: 2728px;
  left: 667.6px;
  border-radius: 69.07px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(255, 255, 255, 0.56),
    rgba(255, 255, 255, 0.08)
  );
  backdrop-filter: blur(12px);
  border: 2px solid rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  width: 100px;
  height: 102px;
}
.homepage-new-child46 {
  position: absolute;
  top: 2761.53px;
  left: 704.35px;
  border-radius: 7px;
  width: 31.25px;
  height: 33.94px;
}
.i-am-looking,
.i-would-like,
.my-family-is {
  position: absolute;
  top: 1805px;
  left: 194px;
  font-size: var(--font-size-base);
  font-weight: 300;
  text-align: center;
  display: inline-block;
  width: 218px;
  height: 83px;
}
.i-would-like,
.my-family-is {
  top: 1829px;
  left: 978px;
  width: 269px;
}
.i-would-like {
  top: 1805px;
  left: 591px;
  width: 218px;
}
.community-engagement,
.employer,
.talent {
  position: absolute;
  top: 1765px;
  left: 268px;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  display: inline-block;
  width: 218px;
  height: 22px;
}
.community-engagement,
.employer {
  left: 646px;
  width: 113px;
}
.community-engagement {
  left: 1000px;
  line-height: 27px;
  text-align: center;
  width: 230px;
}
.homepage-new-child47 {
  position: absolute;
  top: 1904px;
  left: 262px;
  border-radius: var(--br-11xl);
  background-color: var(--color-darkorange-200);
  width: 92px;
  height: 39px;
  opacity: 0.7;
}
.sign-up1 {
  position: absolute;
  top: 1908px;
  left: 278px;
  font-size: var(--font-size-base-5);
  line-height: 32px;
  font-weight: 500;
  display: inline-block;
  width: 63px;
}
.homepage-new-child48 {
  position: absolute;
  top: 1903px;
  left: 636px;
  border-radius: var(--br-11xl);
  background-color: var(--color-darkorange-200);
  width: 135px;
  height: 39px;
  opacity: 0.7;
}
.hire-teachers {
  position: absolute;
  top: 1907px;
  left: 652px;
  font-size: var(--font-size-base-5);
  line-height: 32px;
  font-weight: 500;
  display: inline-block;
  width: 119px;
}
.homepage-new-child49 {
  position: absolute;
  top: 1903px;
  left: 1052px;
  border-radius: var(--br-11xl);
  background-color: var(--color-darkorange-200);
  width: 135px;
  height: 39px;
  opacity: 0.7;
}
.explore-pods {
  position: absolute;
  top: 1907px;
  left: 1073px;
  font-size: var(--font-size-base-5);
  line-height: 32px;
  font-weight: 500;
  display: inline-block;
  width: 119px;
}
.homepage-new-child50 {
  position: absolute;
  top: 2828.64px;
  left: 1234.13px;
  width: 205.68px;
  height: 49.99px;
}
.homepage-new-child51 {
  position: absolute;
  top: 4895px;
  left: -0.4px;
  background: linear-gradient( white, var(--color-snow) , #fce9b6 , white );
  width: 1440px;
  height: 1400px;
}
.homepage-new-child52 {
  position: absolute;
  top: 3509px;
  left: 266.84px;
  border-radius: 50%;
  background-color: var(--color-goldenrod-200);
  filter: blur(500px);
  width: 324.98px;
  height: 267.32px;
  transform: rotate(88.63deg);
  transform-origin: 0 0;
}
.homepage-new-child53 {
  position: absolute;
  top: 3633px;
  left: 866.6px;
  border-radius: var(--br-12xl);
  background-color: var(--color-gray-200);
  width: 155px;
  height: 57px;
}
.lorem-ipsum-dolor3,
.see-jobs1 {
  position: absolute;
  display: inline-block;
}
.see-jobs1 {
  top: 3645px;
  left: 905.6px;
  font-size: var(--font-size-mid);
  line-height: 32px;
  font-weight: 500;
  color: var(--color-white);
  width: 121px;
}
.lorem-ipsum-dolor3 {
  top: 4062px;
  left: 772.6px;
  line-height: 26px;
  font-weight: 300;
  width: 477px;
  opacity: 0.7;
}
.div,
.quality {
  position: absolute;
  top: 4007px;
  left: 772.6px;
  font-size: var(--font-size-8xl);
  line-height: 53px;
  font-weight: 600;
  text-align: center;
}
.div {
  top: 3927px;
  left: 761.6px;
  font-size: var(--font-size-91xl);
  color: var(--color-white);
}
.homepage-new-child54 {
  position: absolute;
  top: 3961px;
  left: 283.6px;
  border-radius: 50%;
  background-color: var(--color-lightpink-100);
  filter: blur(232px);
  width: 356px;
  height: 354px;
}
.homepage-new-child55 {
  top: 3804px;
  left: 188.6px;
  background-color: var(--color-goldenrod-200);
  width: 393px;
  height: 323px;
}
.homepage-new-child55,
.homepage-new-child56,
.homepage-new-child57 {
  position: absolute;
  border-radius: 50%;
  filter: blur(232px);
}
.homepage-new-child56 {
  top: 4290px;
  left: 764.6px;
  background-color: #bce5ff;
  width: 345px;
  height: 346px;
}
.homepage-new-child57 {
  top: 4414px;
  left: 920.51px;
  background-color: var(--color-goldenrod-200);
  width: 420px;
  height: 345px;
}
.lorem-ipsum-dolor4 {
  position: absolute;
  top: 4518px;
  left: 219.6px;
  line-height: 26px;
  font-weight: 300;
  display: inline-block;
  width: 477px;
  opacity: 0.7;
}
.helpful {
  top: 4463px;
  left: 219.6px;
  font-size: var(--font-size-8xl);
  line-height: 53px;
  text-align: center;
}
.div1,
.helpful,
.our-vision {
  position: absolute;
  font-weight: 600;
}
.div1 {
  top: 4390px;
  left: 208.6px;
  font-size: var(--font-size-91xl);
  line-height: 53px;
  color: var(--color-white);
  text-align: center;
}
.our-vision {
  top: 3499px;
  left: 148.6px;
  font-size: var(--font-size-73xl);
}
.homepage-new-child58 {
  position: absolute;
  top: 3567px;
  left: 661.6px;
  background-color: var(--color-black);
  width: 103px;
  height: 13px;
}
.lorem-ipsum-dolor5 {
  position: absolute;
  top: 3534px;
  left: 866.6px;
  line-height: 26px;
  font-weight: 300;
  display: inline-block;
  width: 443px;
}
.homepage-new-child59 {
  top: 3907px;
  left: 271.6px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(255, 255, 255, 0.49),
    rgba(255, 255, 255, 0.07)
  );
  border: 3px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 337px;
  height: 57px;
}
.homepage-new-child59,
.homepage-new-child60,
.homepage-new-child61 {
  position: absolute;
  border-radius: 6.07px;
  backdrop-filter: blur(12px);
}
.homepage-new-child60 {
  top: 3999px;
  left: 188.6px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(255, 255, 255, 0.49),
    rgba(255, 255, 255, 0.07)
  );
  border: 3px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 202px;
  height: 47px;
}
.homepage-new-child61 {
  top: 3988px;
  left: 473.6px;
  background-color: var(--color-goldenrod-100);
  width: 115px;
  height: 66px;
}
.homepage-new-child62 {
  position: absolute;
  top: 4092px;
  left: 316.6px;
  border-radius: 7.07px;
  background-color: var(--color-cornflowerblue-100);
  width: 260px;
  height: 66px;
}
.homepage-new-child63 {
  position: absolute;
  top: 3875.5px;
  left: 598.1px;
  width: 4px;
  height: 23.5px;
}
.homepage-new-child64 {
  position: absolute;
  top: 3888px;
  left: 611.6px;
  width: 16.76px;
  height: 18.75px;
}
.homepage-new-child65 {
  position: absolute;
  top: 3914.48px;
  left: 621.71px;
  width: 23.26px;
  height: 7.03px;
}
.hiring-days,
.job-position-created,
.total-applicants {
  position: absolute;
  top: 3922px;
  left: 330.6px;
  line-height: 26px;
  font-weight: 600;
  display: inline-block;
  width: 278px;
}
.hiring-days,
.total-applicants {
  top: 4009px;
  left: 232.6px;
  font-size: var(--font-size-smi);
  font-weight: 500;
  width: 166px;
}
.hiring-days {
  top: 3861px;
  left: 274.6px;
  font-size: var(--font-size-mini);
  font-weight: 600;
  width: 87px;
}
.homepage-new-child66 {
  position: absolute;
  top: 3867px;
  left: 414.6px;
  width: 47px;
  height: 24px;
}
.div2 {
  position: absolute;
  top: 3861px;
  left: 429.6px;
  font-size: var(--font-size-mini);
  line-height: 26px;
  font-weight: 600;
  display: inline-block;
  width: 26px;
}
.applicants-invited-to,
.qualification-test {
  position: absolute;
  top: 4002px;
  left: 447.6px;
  line-height: 19px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  width: 166px;
}
.applicants-invited-to {
  top: 4105px;
  left: 350.6px;
  color: var(--color-white);
  width: 194px;
}
.arrow-icon {
  position: absolute;
  top: 3864.8px;
  left: 374.35px;
  width: 36.5px;
  height: 18.41px;
}
.homepage-new-child67,
.users-icon {
  position: absolute;
  top: 4010.8px;
  left: 403.35px;
  width: 53.5px;
  height: 18.41px;
}
.users-icon {
  height: 0.18%;
  width: 1.46%;
  top: 43.5%;
  right: 84.58%;
  bottom: 56.31%;
  left: 13.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.homepage-new-child68 {
  position: absolute;
  top: 3936px;
  left: 199.82px;
  width: 67.89px;
  height: 52.35px;
}
.homepage-new-child69 {
  position: absolute;
  top: 4021px;
  left: 598.6px;
  width: 52.05px;
  height: 113.11px;
}
.homepage-new-child70,
.screening {
  position: absolute;
  transform: rotate(-20.46deg);
  transform-origin: 0 0;
}
.homepage-new-child70 {
  top: 4054.21px;
  left: 610.6px;
  border-radius: 6.07px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(255, 255, 255, 0.49),
    rgba(255, 255, 255, 0.07)
  );
  backdrop-filter: blur(12px);
  border: 2px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 84.27px;
  height: 30px;
}
.screening {
  top: 4051.46px;
  left: 622.6px;
  font-size: var(--font-size-2xs);
  line-height: 26px;
  display: inline-block;
  width: 90px;
  height: 18.82px;
}
.homepage-new-child71,
.mask-group-6 {
  position: absolute;
  top: 3908px;
  left: 275.6px;
  width: 56px;
  height: 56px;
}
.mask-group-6 {
  top: 4394.46px;
  left: 841.21px;
  width: 75.49px;
  height: 81px;
  object-fit: cover;
}
.homepage-new-child72 {
  position: absolute;
  top: 4421.8px;
  left: 818.51px;
  width: 23.47px;
  height: 5.01px;
}
.homepage-new-child73 {
  position: absolute;
  top: 4396.23px;
  left: 832.35px;
  width: 18.07px;
  height: 17.5px;
}
.homepage-new-child74 {
  position: absolute;
  top: 4381px;
  left: 859.66px;
  width: 6.03px;
  height: 23.39px;
}
.melissa-hart {
  position: absolute;
  top: 4420.46px;
  left: 926.21px;
  font-size: var(--font-size-base);
  line-height: 26px;
  font-weight: 600;
  display: inline-block;
  width: 106px;
}
.homepage-new-child75 {
  position: absolute;
  top: 4452.46px;
  left: 928.21px;
  background-color: #f2f2f2;
  width: 176px;
  height: 10px;
}
.homepage-new-child76 {
  position: absolute;
  top: 4631.64px;
  left: 973.51px;
  width: 54px;
  height: 14.73px;
}
.homepage-new-child77 {
  position: absolute;
  top: 4549.5px;
  left: 792.6px;
  width: 54.91px;
  height: 96.96px;
}
.assignment-to-do,
.homepage-new-child78 {
  position: absolute;
  transform: rotate(20.02deg);
  transform-origin: 0 0;
}
.homepage-new-child78 {
  top: 4381.57px;
  left: 1115.38px;
  border-radius: 6.07px;
  background-color: var(--color-goldenrod-100);
  backdrop-filter: blur(12px);
  width: 148.72px;
  height: 33.96px;
}
.assignment-to-do {
  top: 4389.75px;
  left: 1114.33px;
  font-size: var(--font-size-2xs);
  line-height: 19px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  width: 166px;
}
.homepage-new-child79 {
  position: absolute;
  top: 4617px;
  left: 864.51px;
  border-radius: 25.07px;
  background-color: var(--color-cornflowerblue-100);
  width: 90px;
  height: 44px;
}
.screening1 {
  position: absolute;
  top: 4629px;
  left: 827.51px;
  font-size: var(--font-size-smi);
  line-height: 19px;
  font-weight: 500;
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 166px;
}
.homepage-new-child80,
.interview-session {
  position: absolute;
  transform: rotate(-12.25deg);
  transform-origin: 0 0;
}
.homepage-new-child80 {
  top: 4634.3px;
  left: 1039.51px;
  border-radius: 16.07px;
  background-color: #26d04b;
  backdrop-filter: blur(12px);
  width: 175.73px;
  height: 53.12px;
}
.interview-session {
  top: 4648.68px;
  left: 1050.19px;
  font-size: var(--font-size-mini);
  line-height: 19px;
  font-weight: 500;
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 161.19px;
  height: 18.45px;
}
.group-icon1 {
  position: absolute;
  height: 0.26%;
  width: 1.69%;
  top: 47.61%;
  right: 21.04%;
  bottom: 52.13%;
  left: 77.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6.07px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.1)
  );
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 306px;
  height: 46px;
}
.explain-your-workflow {
  position: absolute;
  top: 11px;
  left: 12px;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  width: 272px;
  opacity: 0.3;
}
.group-div {
  position: absolute;
  top: 4488px;
  left: 870.51px;
  width: 306px;
  height: 46px;
  opacity: 0.3;
  font-size: var(--font-size-smi);
}
.homepage-new-child81 {
  position: absolute;
  top: 4518px;
  left: 852.51px;
  border-radius: 6.07px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(255, 255, 255, 0.49),
    rgba(255, 255, 255, 0.07)
  );
  backdrop-filter: blur(12px);
  border: 3px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 343px;
  height: 66px;
}
.write-a-motivation {
  position: absolute;
  top: 4529px;
  left: 864.51px;
  font-size: var(--font-size-smi);
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  width: 325px;
}
.we-provide-opportunities1 {
  position: absolute;
  top: 5001px;
  left: 693px;
  line-height: 26px;
  font-weight: 300;
  color: var(--color-white);
  text-align: right;
  display: inline-block;
  width: 357px;
  z-index: 2;
}
.homepage-new-child82 {
  position: absolute;
  top: 5013px;
  left: 663px;
  background-color: var(--color-gainsboro);
  width: 3px;
  height: 53px;
  opacity: 0.5;
  z-index: 2;
}
.homepage-new-child83 {
  position: absolute;
  top: 5099px;
  left: 433px;
  border-radius: var(--br-12xl);
  background-color: var(--color-white);
  width: 155px;
  height: 57px;
  z-index: 1;
}
.contact-us {
  position: absolute;
  top: 5112px;
  left: 461px;
  font-size: var(--font-size-mid);
  line-height: 32px;
  font-weight: 500;
  display: inline-block;
  width: 121px;
  z-index: 3;
}
.meet-our-diversefirst-team-container {
  position: absolute;
  top: 5415px;
  left: 468px;
  font-size: var(--font-size-28xl);
  line-height: 53px;
  font-weight: 600;
  text-align: center;
}
.our-team1 {
  position: absolute;
  top: 5377px;
  left: 680px;
  font-size: var(--font-size-mini);
  font-weight: 500;
  color: var(--color-tomato-100);
}
.latest-news {
  position: absolute;
  top: 7386px;
  left: 591px;
  font-size: var(--font-size-28xl);
  line-height: 53px;
  font-weight: 600;
  text-align: center;
}
.our-news {
  position: absolute;
  top: 7363px;
  left: 694px;
  font-size: var(--font-size-mini);
  font-weight: 500;
  color: var(--color-tomato-100);
}
.homepage-new-child84,
.homepage-new-child85 {
  position: absolute;
  top: 5734.23px;
  left: 583px;
  border-radius: 50%;
  background-color: var(--color-lightpink-100);
  filter: blur(350px);
  width: 959px;
  height: 354px;
  transform: rotate(-12.36deg);
  transform-origin: 0 0;
}
.homepage-new-child85 {
  top: 5773.84px;
  left: -178px;
  background-color: var(--color-goldenrod-200);
  width: 1060px;
  height: 323px;
}
.homepage-new-child86,
.homepage-new-child87,
.homepage-new-child88,
.homepage-new-child89 {
  position: absolute;
  top: 5774px;
  left: 180px;
  border-radius: 6.07px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(255, 255, 255, 0.49),
    rgba(255, 255, 255, 0.07)
  );
  backdrop-filter: blur(12px);
  border: 3px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 242px;
  height: 231px;
}
.homepage-new-child87,
.homepage-new-child88,
.homepage-new-child89 {
  left: 736px;
}
.homepage-new-child88,
.homepage-new-child89 {
  top: 5665px;
  left: 460px;
}
.homepage-new-child89 {
  left: 1014px;
}
.founder,
.sebastian-bennett {
  position: absolute;
  left: 221px;
  text-align: center;
  display: inline-block;
  width: 160px;
  height: 28px;
}
.sebastian-bennett {
  top: 5931px;
  font-size: var(--font-size-base);
}
.founder {
  top: 5959px;
  font-weight: 300;
}
.homepage-new-child90,
.homepage-new-child91,
.homepage-new-child92 {
  position: absolute;
  top: 5665px;
  left: 180px;
  width: 242px;
  height: 242px;
  object-fit: cover;
}
.homepage-new-child91,
.homepage-new-child92 {
  top: 5774px;
  left: 460px;
}
.homepage-new-child92 {
  top: 5665px;
  left: 737px;
}
.graham-griffiths,
.manager {
  position: absolute;
  left: 499px;
  text-align: center;
  display: inline-block;
  width: 160px;
  height: 28px;
}
.graham-griffiths {
  top: 5692px;
  font-size: var(--font-size-base);
}
.manager {
  top: 5720px;
  font-weight: 300;
}
.homepage-new-child93 {
  position: absolute;
  top: 5774px;
  left: 1014px;
  width: 242px;
  height: 242px;
  object-fit: cover;
}
.graham-griffiths1 {
  top: 5692px;
  left: 1055px;
  font-size: var(--font-size-base);
}
.designer,
.graham-griffiths1,
.manager1,
.monica-bottger {
  position: absolute;
  text-align: center;
  display: inline-block;
  width: 160px;
  height: 28px;
}
.manager1 {
  top: 5720px;
  left: 1055px;
  font-weight: 300;
}
.designer,
.monica-bottger {
  left: 777px;
}
.monica-bottger {
  top: 5931px;
  font-size: var(--font-size-base);
}
.designer {
  top: 5959px;
  font-weight: 300;
}
.abstract-background-with-grung-icon {
  position: absolute;
  top: 6561px;
  left: 342px;
  width: 757px;
  height: 542px;
  object-fit: cover;
}
.lorem-ipsum-dolor-container {
  top: 6771px;
  left: 500px;
  font-size: var(--font-size-xl);
  font-weight: 300;
  width: 441px;
}
.google-inc,
.lorem-ipsum-dolor-container,
.sophia-barton {
  position: absolute;
  line-height: 36px;
  text-align: center;
  display: inline-block;
}
.sophia-barton {
  top: 6889px;
  left: 631px;
  letter-spacing: 0.11em;
  width: 178px;
}
.google-inc {
  top: 6930px;
  left: 684px;
  font-size: var(--font-size-xs);
  color: var(--color-darkgray);
  width: 84px;
  height: 27px;
}
.smiling-face-with-heart-eyes {
  position: absolute;
  top: 6843px;
  left: 831px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}
.homepage-new-child94,
.homepage-new-child95 {
  position: absolute;
  top: 6695px;
  left: 690px;
  width: 61px;
  height: 61px;
}
.homepage-new-child95 {
  top: 7103px;
  width: 62px;
  height: 12px;
}
.homepage-new-child96,
.homepage-new-child97 {
  position: absolute;
  top: 6607.5px;
  left: 901.5px;
  width: 23.42px;
  height: 61.5px;
}
.homepage-new-child97 {
  top: 6608px;
  left: 934px;
}
.lorem-ipsum-dolor-container1 {
  top: 75px;
  left: 0;
  font-weight: 300;
  width: 441px;
}
.google-inc1,
.lorem-ipsum-dolor-container1,
.sophia-barton1 {
  position: absolute;
  line-height: 36px;
  display: inline-block;
}
.sophia-barton1 {
  top: 193px;
  left: 131px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.11em;
  width: 178px;
}
.google-inc1 {
  top: 234px;
  left: 184px;
  font-size: var(--font-size-xs);
  color: var(--color-darkgray);
  width: 84px;
  height: 27px;
}
.group-child2 {
  position: absolute;
  top: 0;
  left: 190px;
  width: 61px;
  height: 61px;
}
.lorem-ipsum-dolor-sit-amet-co-group,
.lorem-ipsum-dolor-sit-amet-co-parent {
  position: absolute;
  top: 6698px;
  left: -106px;
  width: 441px;
  height: 261px;
  text-align: center;
  font-size: var(--font-size-xl);
}
.lorem-ipsum-dolor-sit-amet-co-group {
  top: 6694px;
  left: 1106px;
}
.homepage-new-child98 {
  position: absolute;
  top: 3405.9px;
  left: 1265px;
  background-color: var(--color-mediumpurple-100);
  width: 26.33px;
  height: 26.33px;
  transform: rotate(-52.53deg);
  transform-origin: 0 0;
}
.starstrokewide-icon {
  position: absolute;
  height: 0.57%;
  width: 3.75%;
  top: 37.64%;
  right: 52.55%;
  bottom: 61.79%;
  left: 43.7%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.our,
.testimonials {
  position: absolute;
  top: 6320px;
  left: 305px;
  font-size: var(--font-size-73xl);
  font-weight: 600;
}
.testimonials {
  left: 649px;
}
.starstrokewide-icon1 {
  position: absolute;
  height: 0.57%;
  width: 3.75%;
  top: 2.14%;
  right: 89.9%;
  bottom: 97.28%;
  left: 6.35%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child4 {
  position: absolute;
  top: 1048px;
  left: 0;
  background-color: var(--color-snow);
  width: 1444px;
  height: 604px;
}
.group-child5 {
  position: absolute;
  top: 113px;
  left: 0;
  width: 1214px;
  height: 476px;
}
.follow-us-for,
.lorem-ipsum-dolor9 {
  position: absolute;
  top: 190px;
  left: 126px;
  font-weight: 600;
  display: inline-block;
  width: 569px;
}
.lorem-ipsum-dolor9 {
  top: 328px;
  left: 129px;
  font-size: var(--font-size-sm);
  line-height: 26px;
  font-weight: 300;
  width: 566px;
  opacity: 0.7;
}
.group-child6 {
  position: absolute;
  top: 454px;
  left: 126px;
  border-radius: var(--br-12xl);
  background-color: var(--color-gray-200);
  width: 160px;
  height: 57px;
}
.contact-us1 {
  position: absolute;
  top: 466px;
  left: 160px;
  font-size: var(--font-size-mid);
  line-height: 32px;
  font-weight: 500;
  color: var(--color-white);
  display: inline-block;
  width: 108px;
}
.group-child7,
.group-parent {
  position: absolute;
  top: 0;
  height: 692.12px;
}
.group-child7 {
  left: 572px;
  width: 689.49px;
  object-fit: cover;
}
.group-parent {
  left: 114px;
  width: 1261.49px;
  font-size: 43px;
}
.about-us1,
.home1,
.services1 {
  position: absolute;
  top: 759px;
  left: 604px;
  line-height: 32px;
  display: inline-block;
  width: 63px;
}
.about-us1,
.services1 {
  top: 800px;
  left: 605px;
  width: 83px;
}
.services1 {
  top: 841px;
}
.careers1 {
  top: 759px;
  left: 733px;
  width: 83px;
}
.careers1,
.events1,
.infogmailcom,
.resources1 {
  position: absolute;
  line-height: 32px;
  display: inline-block;
}
.infogmailcom {
  top: 759px;
  left: 915px;
  font-weight: 500;
  color: inherit;
  width: 138px;
  text-decoration: none;
}
.events1,
.resources1 {
  top: 800px;
  left: 733px;
  width: 92px;
}
.events1 {
  top: 841px;
}
.vector-icon1 {
  position: absolute;
  height: 0.48%;
  width: 0.62%;
  top: 81.68%;
  right: 52.84%;
  bottom: 17.84%;
  left: 46.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.diversefirst1 {
  position: absolute;
  top: 708px;
  left: 154px;
  font-size: var(--font-size-10xl);
  letter-spacing: -0.02em;
  font-weight: 600;
}
.group-child8 {
  position: absolute;
  top: 707px;
  left: 99px;
  width: 37.75px;
  height: 37.22px;
}
.group-child10,
.group-child9 {
  position: absolute;
  top: 714.6px;
  left: 107.07px;
  width: 37.93px;
  height: 37.4px;
}
.group-child10 {
  top: 706px;
  left: 88px;
  width: 60px;
  height: 48.55px;
}
.contact,
.div3,
.quick-links {
  position: absolute;
  display: inline-block;
}
.quick-links {
  top: 706px;
  left: 604px;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  width: 161px;
}
.contact,
.div3 {
  left: 915px;
}
.contact {
  top: 706px;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  width: 161px;
}
.div3 {
  top: 800px;
  line-height: 32px;
  font-weight: 500;
  width: 157px;
}
.social,
.we-provide-opportunities2 {
  position: absolute;
  top: 706px;
  left: 1161px;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  display: inline-block;
  width: 161px;
}
.we-provide-opportunities2 {
  top: 775px;
  left: 100px;
  font-size: var(--font-size-sm);
  line-height: 26px;
  font-weight: 300;
  width: 420px;
}
.vector-icon2,
.vector-icon3,
.vector-icon4,
.vector-icon5 {
  position: absolute;
  height: 2.29%;
  width: 1.66%;
  top: 72.42%;
  right: 15.93%;
  bottom: 25.29%;
  left: 82.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon3,
.vector-icon4,
.vector-icon5 {
  right: 13.92%;
  left: 84.42%;
}
.vector-icon4,
.vector-icon5 {
  right: 17.94%;
  left: 80.4%;
}
.vector-icon5 {
  right: 11.91%;
  left: 86.43%;
}
.copyright-2022 {
  position: absolute;
  top: 970px;
  left: 534px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.32em;
  line-height: 17px;
  display: inline-block;
  width: 374px;
  height: 16px;
  opacity: 0.8;
}
.rectangle-parent1 {
  position: absolute;
  top: 8175px;
  left: 0;
  width: 1444px;
  height: 1048px;
  font-size: var(--font-size-mini);
}
.image-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lgi);
  width: 345.71px;
  height: 188.44px;
  object-fit: cover;
}
.george-costanza {
  position: absolute;
  top: 4.42px;
  left: 35.15px;
  line-height: 160%;
  display: inline-block;
  width: 127.28px;
  height: 15.2px;
}
.image-4-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-359xl);
  width: 28.47px;
  height: 28.47px;
  object-fit: cover;
}
.author,
.blog-post-4-child {
  position: absolute;
  top: 396.09px;
  left: 0;
  width: 162.43px;
  height: 28.47px;
}
.blog-post-4-child {
  top: 202.68px;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkorange-100);
  width: 49.48px;
  height: 17.62px;
}
.jun-21-2021,
.travel {
  position: absolute;
  display: inline-block;
}
.travel {
  top: 205.17px;
  left: 11.52px;
  font-size: var(--font-size-5xs);
  font-weight: 500;
  color: var(--color-gray-500);
  width: 26.44px;
  height: 10.85px;
}
.jun-21-2021 {
  top: 286.06px;
  left: 0;
  line-height: 160%;
  color: var(--color-dimgray-100);
  width: 179.52px;
  height: 15.2px;
}
.lorem-ipsum-dolor10,
.what-traveling-greece {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 345.71px;
}
.what-traveling-greece {
  top: 225.73px;
  font-size: var(--font-size-lgi);
  line-height: 140%;
  font-weight: 600;
  height: 50.16px;
}
.lorem-ipsum-dolor10 {
  top: 309.66px;
  line-height: 160%;
  color: var(--color-darkslategray);
  height: 68.46px;
}
.blog-post-4 {
  position: absolute;
  top: 7689px;
  left: 150px;
  width: 345.71px;
  height: 424.56px;
  font-size: var(--font-size-xs);
}
.image-2-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lgi);
  width: 346px;
  height: 188px;
  object-fit: cover;
}
.blog-post-5-child {
  position: absolute;
  top: 203px;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkorange-100);
  width: 44px;
  height: 17.62px;
}
.food {
  position: absolute;
  top: 206.17px;
  left: 12.52px;
  font-size: var(--font-size-5xs);
  font-weight: 500;
  color: var(--color-gray-500);
  display: inline-block;
  width: 26.44px;
  height: 10.85px;
}
.blog-post-5 {
  position: absolute;
  top: 7688px;
  left: 552px;
  width: 346px;
  height: 424.56px;
  font-size: var(--font-size-xs);
}
.blog-post-6-child {
  position: absolute;
  top: 0;
  left: 1px;
  border-radius: var(--br-lgi);
  width: 345px;
  height: 188px;
  object-fit: cover;
}
.history {
  position: absolute;
  top: 205px;
  left: 11px;
  font-size: var(--font-size-5xs);
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
  display: inline-block;
  width: 38px;
  height: 11px;
}
.blog-post-6 {
  position: absolute;
  top: 7689px;
  left: 961px;
  width: 346px;
  height: 424.56px;
  font-size: var(--font-size-xs);
}
.lorem-ipsum-dolor13 {
  position: absolute;
  top: 7452px;
  left: 388px;
  line-height: 26px;
  font-weight: 300;
  text-align: center;
  display: inline-block;
  width: 691px;
}
.homepage-new-child99 {
  position: absolute;
  top: 7526px;
  left: 669px;
  border-radius: var(--br-12xl);
  background-color: var(--color-gray-200);
  width: 128px;
  height: 57px;
}
.all-news {
  position: absolute;
  top: 7538px;
  left: 696px;
  font-size: var(--font-size-mid);
  line-height: 32px;
  font-weight: 500;
  color: var(--color-white);
  display: inline-block;
  width: 83px;
}
.arrow-01-icon {
  position: absolute;
  top: 8502px;
  left: 591px;
  width: 261.43px;
  height: 261.43px;
  overflow: hidden;
}
.homepage-new-child100 {
  position: absolute;
  top: 8609.9px;
  left: 96px;
  background-color: var(--color-mediumpurple-100);
  width: 26.33px;
  height: 26.33px;
  transform: rotate(-52.53deg);
  transform-origin: 0 0;
}
.happy-joyful-corporate-coach-h-icon {
  position: absolute;
  top: 1540px;
  left: 636px;
  width: 131px;
  height: 196px;
  object-fit: cover;
}
.homepage-new-child101,
.untitled-design-2022-09-22t1 {
  position: absolute;
  top: 1518px;
  left: 1006px;
  width: 206px;
  height: 218px;
  object-fit: cover;
}
.untitled-design-2022-09-22t1 {
  top: 1440px;
  left: 160px;
  width: 372px;
  height: 431px;
}
.homepage-new-child102 {
  position: absolute;
  height: 1.19%;
  width: 7.84%;
  top: 13.18%;
  right: 84.45%;
  bottom: 85.63%;
  left: 7.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.homepage-new {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 9226px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.let-us{
  position: absolute;
  top: 5001px;
  left: 693px;
  line-height: 26px;
  font-weight: 300;
  color: var(--color-white);
  text-align: right;
  display: inline-block;
  width: 357px;
  z-index: 2;
}
.half-moon{
  position: absolute;
  top: 5000px;
  left: 1189.02px;
  width: 64.95px;
  z-index: 3;
  height: 56.25px;
}
.fullmoon{
  position: absolute;
  top: 4998px;
  left: 1246.02px;
  width: 56.95px;
  z-index: 3;
  height: 54.25px;
}